body {
    padding: 0px;
    margin: 0px;
}

.expenseItem {
    display: flex;
    background-color: #4c4c4c;
    border: 3px solid #8f8f8f;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    margin: 10px;
    flex-wrap: wrap;
}

.expenseDescription {
    flex-wrap: wrap;
    display: flex;
    align-items: center;
}

.expenseName {
    color: white;
}

.expenseName h2 {
    word-wrap: break-word;
    word-break: break-all;
}

.expensePrice {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: #380054;
    margin-right: 5px;
    border: 2px solid white;
    font-size: larger;
    font-weight: bold;
    width: 100px;
    height: 50px;
}